<div class="container inner">



  <hr />
  <p class="copyright pull-left">© 2015 Hygge. All rights reserved. Theme by <a href="#">Elonides</a>.</p>
  <ul class="footer-menu pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Create</a></li>
  </ul>
</div>
<!-- .container -->
