<!DOCTYPE html>
<html lang="en">
<head>

  {{>head}}

</head>
<body>
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">

  {{>nav}}

  <div class="offset"></div>

  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-8">
          <div class="basic-slider">
            <div class="item"><img src="{{image}}" alt="" /></div>
            <div class="item"><img src="{{image}}" alt="" /></div>
          </div>
          <!-- /.basic-slider -->
        </div>
        <!-- /.col-sm-8 -->

        <div class="col-sm-4 lp30">
          <h1 class="post-title">{{name}}</h1>
          <p>Episode: {{ episode }}</p>

          <a href="#" class="btn">See Project</a> </div>

        <!-- /.col-sm-4 -->
      </div>
      <!-- /.row -->

    </div>
  </div>

  <!-- /.light-wrapper -->


  <!-- /footer -->
  <div id="share-bar"></div>
</div>
<!--/.body-wrapper -->

    {{>javascripts}}

</body>
</html>
